html {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    fotnt-size: 100%;
}



body{
    text-align: center;
    background-color: darkgray;
}



.container {
    background-color: black;
    align-self: center;
    width: 1000px;
    margin: 0 auto;
    border: 4px solid black;
}



p {
    color: white;
    font-size: 100%;
}



h1 {
    color: white;
    font-size: 200%;
}



h2 {
    color: white;
    font-size: 130%;
}



hr {
    background-color: white;
    border: none;
    height: 1px;
}



.largeVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    align-self: center;
    background-color: red; /*For DEBUG*/
}
.largeVideo iframe{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}



.rightText {
    width: 40%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: red; /*For debug*/
}



.leftText {
    width: 59%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-self: flex-start;
    background: yellow;
}



.smallVideo {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    background-color: red; /*For DEBUG*/
}
.smallVideo iframe {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}



.row {
    display: flex;
    padding: 1%;
}


@media only screen and (max-width: 1000px){
    .container {
        width: 100%;
    }
}