html 
{
    font-size: 16px;
}

.container {
    background-color: #282828;
    align-self: center;
    width: 500px;
    height: 900px;
}

p {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    color: #dfdfe2;
}

h1 {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    color: #dfdfe2;
}

h2 {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    color: #3500d3;
}

hr {
    background-color: #0c0032;
    border: none;
    height: 1px;
}
