html 
{
    font-size: 16px;
}

.container {
    background-color: #0c0d07;
    width: 500px;
    height: 900px;
}

.test{
    background-color: red;
    width: 60px;
    height: 60px;
}

p {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    color: #d8c6ba;
}

h2 {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    color: #617246;
}

hr {
    color: #617246;
}
